@keyframes opacityFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityFadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.time-period-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 960px) {
        align-items: flex-start;
        flex-direction: column;
        position: unset;
        margin-bottom: 0;
    }

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        width: 1000vw;
        height: 1px;
        background-color: var(--color-border);
        z-index: -1;

        @media (max-width: 960px) {
            display: none;
        }
    }

    &::before {
        position: absolute;
        content: "";
        left: 50%;
        height: 1000vh;
        width: 1px;
        background-color: var(--color-border);
        z-index: -1;

        @media (max-width: 960px) {
            display: none;
        }
    }
}

.time-period-h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 120%;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 200px;
    margin: 0;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -80px;
        height: 100%;
        width: 5px;
        background-image: linear-gradient(180deg, var(--color-purple), var(--color-pink));
    }

    @media (max-width: 960px) {
        font-size: 20px;
        max-width: 100px;
        position: initial;
    }
}


.time-period-years {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;

    @media (max-width: 960px) {
        position: initial;
        gap: 30px;
        margin-top: 56px;
        margin-bottom: 58px;
    }
}

.time-period-yearStart,
.time-period-yearEnd {
    font-size: 200px;
    font-weight: bold;
    line-height: 160%;
    letter-spacing: -0.02em;

    @media (max-width: 960px) {
        font-size: 56px;
    }

}

.time-period-yearStart {
    color: var(--color-purple);
    text-align: right;
}

.time-period-yearEnd {
    color: var(--color-pink);
    text-align: left;
}

.time-period-buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;

    @media (max-width: 960px) {
        gap: 8px;
        left: 20px;
        bottom: 14px;
        z-index: 2;
    }
}

.time-period-buttonsInfo {
    width: 100%;
    font-size: 14px;
}

.time-period-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;

    &[disabled] {
        opacity: 0.5;
    }

    @media (max-width: 960px) {
        width: 25px;
        height: 25px;

        img {
            transform: scale(.5);
        }
    }
}

.time-period-selector {
    position: relative;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--transition-duration);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 530px;
        height: 530px;
        border: 1px solid var(--color-border);
        border-radius: 50%;

        @media (max-width: 960px) {
            display: none;
        }
    }

    @media (max-width: 960px) {
        display: flex;
        // transform: none !important;
        width: fit-content;
        height: fit-content;
        gap: 10px;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translate(-50%) !important;
        z-index: 2;
    }
}

.time-period-box {
    min-width: 50px;
    min-height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    &:hover {
        .time-period {
            width: 56px;
            height: 56px;
            background-color: var(--color-bg);

            @media (max-width: 960px) {
                width: 6px;
                height: 6px;
                background-color: var(--color-text);
            }
        }
    }

    @media (max-width: 960px) {
        position: unset;
        transform: none !important;
        min-width: 6px;
        min-height: 6px;
    }
}

.time-period {
    background-color: var(--color-text);
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    border: 1px solid var(--color-text);
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    transition: all var(--transition-duration);
    transition: width 0.3s, height 0.3s;

    &:hover,
    &.active {
        width: 56px;
        height: 56px;
        background-color: var(--color-bg);

        &::after {
            background-color: inherit;
            z-index: -1;
        }
    }

    &.active {
        overflow: visible;
    }

    @media (max-width: 960px) {
        width: 6px;
        height: 6px;
        background-color: var(--color-text-opacity);
        border-color: var(--color-text-opacity);
        // color: var(--color-text-opacity);
        // font-size: 1px;

        div {
            display: none;
        }

        &:hover,
        &.active {
            width: 6px;
            height: 6px;
            background-color: var(--color-text);
            border-color: var(--color-text-text);
            // color: transparent;


            &::after {
                background-color: inherit;
                z-index: -1;
            }
        }

        &.active {
            overflow: visible;
        }
    }

}

.time-period-name {
    display: none;
    opacity: 0;
    font-weight: bold;
    font-size: 20px;

    &.mobile {
        display: block;
        opacity: 1;
        margin: 0;
        position: absolute;
        top: -40px;
    }

    &.active {
        display: block;
        opacity: 1;
        position: absolute;
        left: 80px;
        animation: opacityFadeIn 1.5s;
        animation-fill-mode: forwards;

        @media (max-width: 960px) {
            display: none;
        }
    }

    &.not-active {
        display: none;
        animation: opacityFadeOut 1.5s;
        animation-fill-mode: forwards;
    }

}


.time-name {
    display: none;

    &.active {
        display: block;
    }
}
