:root {
  --color-pink: #EF5DA8;
  --color-purple: #5D5FEF;
  --color-text: #42567A;
  --color-border: #42567a7a;
  --color-header: #3877EE;
  --color-bg: #F4F5F9;
}


body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-bg);
}
